/* 
===== COLORS =======
#fff
#959595
====================
 */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#main-container {
  padding: 0;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  font-weight: 600;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

/* ===================== */
/* NAVIGATION */
/* ===================== */

#navigation-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5% 15%;
}

#main-menu .nav-link {
  color: #959595;
}

#main-menu .nav-link:hover {
  color: #fff;
}

/* ===================== */
/* WELCOME */
/* ===================== */

#welcome {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/graphscharts.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#profile-image {
  border-radius: 50%;
  width: 250px;
}

#welcome h1,
#welcome h2 {
  text-align: center;
  opacity: 0.75;
}

#social-media-icons a {
  margin: 0 5%;
}

#social-media-icons a:hover {
  transform: scale(1.5);
}

/* ===================== */
/* RECOMMENDATIONS */
/* ===================== */

#recommendations {
  height: 100vh;
}
